@media (max-width: 575.98px) {
    .sign.sign-in {
        .sign-block {
            .logo {
                margin: 0;
            }
            width: 100%;
            padding: 30px;
            border-radius: 0;

            .ant-form-item {
                width: 100%;
            }
        }
    }
}